/* Reset CSS for scope */

/* =========上架請改成這段.edit-wrap #MA的版本，將作用限縮在MA區塊，避免影響到網頁其他地方========== */
.edit-wrap #MA, 
.edit-wrap #MA div, .edit-wrap #MA span, .edit-wrap #MA applet, .edit-wrap #MA object, .edit-wrap #MA iframe,
.edit-wrap #MA h1, .edit-wrap #MA h2, .edit-wrap #MA h3, .edit-wrap #MA h4, .edit-wrap #MA h5, .edit-wrap #MA h6, .edit-wrap #MA p, .edit-wrap #MA blockquote, .edit-wrap #MA pre,
.edit-wrap #MA a, .edit-wrap #MA abbr, .edit-wrap #MA acronym, .edit-wrap #MA address, .edit-wrap #MA big, .edit-wrap #MA cite, .edit-wrap #MA code,
.edit-wrap #MA del, .edit-wrap #MA dfn, .edit-wrap #MA em, .edit-wrap #MA img, .edit-wrap #MA ins, .edit-wrap #MA kbd, .edit-wrap #MA q, .edit-wrap #MA s, .edit-wrap #MA samp,
.edit-wrap #MA small, .edit-wrap #MA strike, .edit-wrap #MA strong, .edit-wrap #MA sub, .edit-wrap #MA sup, .edit-wrap #MA tt, .edit-wrap #MA var,
.edit-wrap #MA b, .edit-wrap #MA u, .edit-wrap #MA i, .edit-wrap #MA center,
.edit-wrap #MA dl, .edit-wrap #MA dt, .edit-wrap #MA dd, .edit-wrap #MA ol, .edit-wrap #MA ul, .edit-wrap #MA li,
.edit-wrap #MA fieldset, .edit-wrap #MA form, .edit-wrap #MA label, .edit-wrap #MA legend,
.edit-wrap #MA table, .edit-wrap #MA caption, .edit-wrap #MA tbody, .edit-wrap #MA tfoot, .edit-wrap #MA thead, .edit-wrap #MA tr, .edit-wrap #MA th, .edit-wrap #MA td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
