/* Reset CSS for scope */

/* =========上架請改成這段html body #MA的版本，將作用限縮在MA區塊，避免影響到網頁其他地方========== */
html body #MA, 
html body #MA div, html body #MA span, html body #MA applet, html body #MA object, html body #MA iframe,
html body #MA h1, html body #MA h2, html body #MA h3, html body #MA h4, html body #MA h5, html body #MA h6, html body #MA p, html body #MA blockquote, html body #MA pre,
html body #MA a, html body #MA abbr, html body #MA acronym, html body #MA address, html body #MA big, html body #MA cite, html body #MA code,
html body #MA del, html body #MA dfn, html body #MA em, html body #MA img, html body #MA ins, html body #MA kbd, html body #MA q, html body #MA s, html body #MA samp,
html body #MA small, html body #MA strike, html body #MA strong, html body #MA sub, html body #MA sup, html body #MA tt, html body #MA var,
html body #MA b, html body #MA u, html body #MA i, html body #MA center,
html body #MA dl, html body #MA dt, html body #MA dd, html body #MA ol, html body #MA ul, html body #MA li,
html body #MA fieldset, html body #MA form, html body #MA label, html body #MA legend,
html body #MA table, html body #MA caption, html body #MA tbody, html body #MA tfoot, html body #MA thead, html body #MA tr, html body #MA th, html body #MA td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: content-box;
}
